.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.navbar-left {
    cursor: pointer;
}

.navbar-right ul {
    list-style: none;
    display: flex;
}

.navbar-right li {
    margin: 12px;
    cursor: pointer;
}